/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */

html {
	font-family: sans-serif; /* 1 */
	-ms-text-size-adjust: 100%; /* 2 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
	margin: 0;
}

/* HTML5 display definitions
	 ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
	display: inline-block; /* 1 */
	vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
	display: none;
	height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */

[hidden],
template {
	display: none;
}

/* Links
	 ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
	background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */

a:active,
a:hover {
	outline: 0;
}

/* Text-level semantics
	 ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
	border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
	font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
	font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
	font-size: 2em;
	margin: .67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
	background: #ff0;
	color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -.5em;
}

sub {
	bottom: -.25em;
}

/* Embedded content
	 ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
	border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
	overflow: hidden;
}

/* Grouping content
	 ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
	margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
	box-sizing: content-box;
	height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
	overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

/* Forms
	 ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
	color: inherit; /* 1 */
	font: inherit; /* 2 */
	margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
	overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
	text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button; /* 2 */
	cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
	cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
	line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */

input[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	box-sizing: content-box; /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: .35em .625em .75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
	border: 0; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
	overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
	font-weight: bold;
}

/* Tables
	 ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

@font-face {
	font-family: "icomoon";
	src: url("../fonts/icomoon.eot?g3tss");
	src: url("../fonts/icomoon.eot?g3tss#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?g3tss") format("truetype"), url("../fonts/icomoon.woff?g3tss") format("woff"), url("../fonts/icomoon.svg?g3tss#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "icomoon" !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1; /* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-go-back-left-arrow:before {
	content: "\e900";
}

.icon-pin:before {
	content: "\e901";
}

.icon-snapchat:before {
	content: "\e902";
}

.icon-user-shape:before {
	content: "\e903";
}

.icon-download-arrow-with-bar:before {
	content: "\e904";
}

.icon-mute:before {
	content: "\e905";
}

.icon-play-rounded-button:before {
	content: "\e906";
}

.icon-replay:before {
	content: "\e907";
}

.icon-round-pause-button:before {
	content: "\e908";
}

.icon-volume:before {
	content: "\e909";
}

.icon-facebook:before {
	content: "\ea90";
}

.icon-instagram:before {
	content: "\ea92";
}

.icon-twitter:before {
	content: "\ea96";
}

/* Slick slider styles */

.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
	background-color: #191919;
}

.slick-list {
	position: relative;
	overflow: hidden;
	display: block;
	height: 100%;
	margin: 0 0 20px;
	padding: 0;
}

.slick-list:focus {
	outline: none;
}

.slick-list.dragging {
	cursor: pointer;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;
}

.slick-track:before,
.slick-track:after {
	content: "";
	display: table;
}

.slick-track:after {
	clear: both;
}

.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	display: none;
}

[dir="rtl"] .slick-slide {
	float: right;
}

.slick-slide img {
	display: block;
}

.slick-slide.slick-loading img {
	display: none;
}

.slick-initialized .slick-slide {
	display: block;
}

.slick-loading .slick-slide {
	visibility: hidden;
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
	display: none;
}

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */

.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}

.fancybox-skin {
	position: relative;
	background: #191919;
	color: #e5e5e5;
	text-shadow: none;
	padding: 0 !important;
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-opened .fancybox-skin {
	box-shadow: 0 10px 25px rgba(0, 0, 0, .5);
}

.fancybox-opened .fancybox-inner {
	max-width: 980px;
	max-height: 512px;
	height: inherit !important;
	position: relative;
	overflow: hidden !important;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image,
.fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: .8;
	cursor: pointer;
	z-index: 8060;
}

.fancybox-close {
	position: absolute;
	top: 29px;
	right: 29px;
	width: 20px;
	height: 20px;
	cursor: pointer;
	z-index: 8040;
	background: #191919;
}

.fancybox-close:before,
.fancybox-close:after {
	content: "";
	position: absolute;
	background: #fff;
	width: 2px;
	height: 26px;
}

.fancybox-close:before {
	-webkit-transform: rotate(45deg) translate(4px, -8px);
	-ms-transform: rotate(45deg) translate(4px, -8px);
	transform: rotate(45deg) translate(4px, -8px);
}

.fancybox-close:after {
	-webkit-transform: rotate(-45deg) translate(8px, 4px);
	-ms-transform: rotate(-45deg) translate(8px, 4px);
	transform: rotate(-45deg) translate(8px, 4px);
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}

.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}

.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
	overflow: hidden !important;
	width: auto;
}

.fancybox-lock body {
	overflow: hidden !important;
}

.fancybox-lock-test {
	overflow-y: hidden !important;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, .8);
	border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #fff;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}

/*Retina graphics!*/

#nav,
.img-man,
.list-info,
.action-btn-list,
.dates-list,
.dates-group,
.audio-player .progress-bar,
.audio-player .timer,
.custom-video-controls .progress-bar,
.slick-dots,
.tabset ul,
.soc-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.ellipsis {
	white-space: nowrap; /* 1 */
	text-overflow: ellipsis; /* 2 */
	overflow: hidden;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

* {
	max-height: 1000000px;
}

body {
	color: #000;
	background: #fff;
	font: 16px/1.2 "Montserrat", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
	min-width: 320px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

.gm-style img {
	max-width: none;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.h {
	font-family: inherit;
	margin: 0 0 .5em;
	color: inherit;
}

h1,
.h1 {
	font-size: 135px;
}

h2,
.h2 {
	font-size: 56px;
}

h3,
.h3 {
	font-size: 30px;
}

h4,
.h4 {
	font-size: 21px;
}

h5,
.h5 {
	font-size: 17px;
}

h6,
.h6 {
	font-size: 15px;
}

p {
	margin: 0 0 1em;
}

a {
	color: #39f;
}

a:hover,
a:focus {
	text-decoration: none;
}

form,
fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="search"],
input[type="password"],
textarea {
	width: 100%;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	box-sizing: border-box;
	border: 2px solid #e5e5e5;
	padding: 10px 25px;
	background-color: transparent;
	color: #fff;
	font-size: 20px;
	font-weight: 700;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
textarea:focus {
	outline: none;
}

input[type="text"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #a2a2a2;
}

input[type="text"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
textarea::-moz-placeholder {
	opacity: 1;
	color: #a2a2a2;
}

input[type="text"]:-moz-placeholder,
input[type="tel"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
input[type="search"]:-moz-placeholder,
input[type="password"]:-moz-placeholder,
textarea:-moz-placeholder {
	color: #a2a2a2;
}

input[type="text"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #a2a2a2;
}

input[type="text"].placeholder,
input[type="tel"].placeholder,
input[type="email"].placeholder,
input[type="search"].placeholder,
input[type="password"].placeholder,
textarea.placeholder {
	color: #a2a2a2;
}

select {
	-webkit-border-radius: 0;
}

textarea {
	resize: vertical;
	vertical-align: top;
}

button,
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="submit"] {
	-webkit-appearance: none;
	cursor: pointer;
	border: 2px solid #e5e5e5;
	display: inline-block;
	border-radius: 10px;
	text-decoration: none;
	color: #000;
	min-width: 240px;
	padding: 22px 15px;
	background-color: #fff;
	font-size: 18px;
	font-weight: 700;
	outline: none;
}

#header {
	top: 0;
	left: 0;
	width: 100%;
	position: fixed;
	z-index: 1003;
	padding: 15px 0;
	background-color: rgba(0, 0, 0, .5);
}

#header .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.resize-active * {
	-webkit-transition: none !important;
	transition: none !important;
}

.nav-opener {
	display: block;
	width: 40px;
	height: 40px;
	position: relative;
}

.nav-active .nav-opener span {
	opacity: 0;
}

.nav-active .nav-opener:before,
.nav-active .nav-opener:after {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 50%;
	left: 15%;
	right: 15%;
}

.nav-active .nav-opener:after {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.nav-opener span,
.nav-opener:before,
.nav-opener:after {
	background: #fff;
	position: absolute;
	top: 50%;
	left: 16%;
	right: 16%;
	height: 3px;
	margin-top: -2px;
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
}

.header-fixed .nav-opener span,
.header-fixed .nav-opener:before,
.header-fixed .nav-opener:after {
	background: #000;
}

.nav-opener:before,
.nav-opener:after {
	content: "";
	top: 30%;
}

.nav-opener:after {
	top: 70%;
}

#nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	text-transform: uppercase;
	font-weight: 700;
}

#nav li {
	padding: 0 0 0 45px;
}

#nav li a {
	color: #e5e5e5;
	text-decoration: none;
	-webkit-transition: color .3s;
	transition: color .3s;
}

#nav li a:hover {
	color: #a2a2a2;
}

body.map-active {
	overflow: hidden;
}

.viewport-section.in-viewport .head-block,
.main-viewport-section.in-viewport .head-block {
	visibility: visible;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.viewport-section.in-viewport .block-hide,
.main-viewport-section.in-viewport .block-hide {
	opacity: 0;
	visibility: hidden;
	position: fixed;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.viewport-section.in-viewport .video-holder,
.main-viewport-section.in-viewport .video-holder {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
}

.viewport-section .head-block,
.main-viewport-section .head-block {
	visibility: hidden;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation: opacity 5s ease-in-out;
	animation: opacity 5s ease-in-out;
}

.viewport-section .video-holder,
.main-viewport-section .video-holder {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity .3s, visibility .3s;
	transition: opacity .3s, visibility .3s;
}

.viewport-section .block-hide,
.main-viewport-section .block-hide {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
}

#popup1 {
	padding: 90px 22px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
}

#popup1 h3 {
	font-size: 30px;
	text-transform: uppercase;
	margin: 0 0 16px;
}

#popup1 .span-lightbox {
	font-size: 20px;
	font-weight: 800;
	letter-spacing: 1px;
	margin: 0 0 32px;
}

#popup1 .signup-form {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 0;
}

#popup1 .signup-form .form-row {
	margin: 0 0 32px;
}

#popup1 .signup-form .form-row .input-wrap {
	width: inherit;
}

#popup1 .signup-form .form-row .input-wrap input {
	max-width: 296px;
}

#popup1 .signup-form .btn {
	max-width: 240px;
	font-weight: 800;
	margin: 0 auto;
	text-align: center;
	display: block;
}

.popup-holder {
	position: relative;
	overflow: hidden;
	height: 0;
}

.whole-content {
	height: 100vh;
	max-width: 800px;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #e5e5e5;
	position: relative;
	margin: 0 auto;
	z-index: 1;
	font-size: 20px;
	font-weight: 700;
	line-height: 30px;
	text-shadow: 0 4px 12px rgba(0, 0, 0, .5);
	margin-bottom: 50vh;
}

.head-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	position: fixed;
}

.head-block h1 {
	width: 100%;
	text-transform: uppercase;
	margin: 0 auto 20px;
	max-width: 738px;
	line-height: .9;
}

.head-block .span-text {
	font-size: 30px;
	font-weight: 700;
}

.holder-bg-rows {
	height: 100vh;
	margin-bottom: 10vh;
	z-index: 9999;
}

.viewport-sections-group .sections-group {
	background: #000;
}

.viewport-sections-group .viewport-section.in-viewport .box-man {
	opacity: 1;
	visibility: visible;
	position: absolute;
	width: 74.5%;
	text-align: center;
	top: 49%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	padding: 40px 0;
	background: #fff;
	color: #942b32;
	font-weight: 700;
	line-height: 1.15;
	-webkit-animation: box-man 3.5s;
	animation: box-man 3.5s;
}

.viewport-sections-group .viewport-section.in-viewport .box-man h2 {
	margin: 0;
}

.viewport-sections-group .viewport-section.in-viewport .box-man .holder-block {
	max-width: 595px;
	margin: 0 auto;
	line-height: 1.5;
}

.viewport-sections-group .viewport-section.in-viewport .box-man .holder-block h3 {
	line-height: 1;
	text-transform: uppercase;
	font-weight: 900;
	color: #000;
}

.viewport-sections-group .viewport-section .box-man {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: .3s;
	transition: .3s;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.bg-rows {
	height: 100vh;
	position: relative;
}

.img-man .bg-man {
	height: 21px;
	overflow: hidden;
	opacity: 0;
	visibility: hidden;
}

.visual {
	padding: 6% 0;
	min-height: 1024px;
	background: #8e8e8e;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.visual .container {
	text-align: center;
}

.head-info {
	position: relative;
	overflow: hidden;
	margin: 0 0 50px;
}

.head-info h2 {
	text-shadow: 0 4px 12px rgba(0, 0, 0, .5);
}

.list-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: relative;
}

.list-info li {
	padding: 0 40px;
	color: #942b32;
	position: relative;
}

.list-info li:before {
	content: "\e903";
	font-size: 100px;
	font-family: "icomoon";
}

.list-info li:first-child {
	padding: 0 40px 0 0;
}

.list-info li:last-child {
	color: #fff;
	padding: 0 0 0 90px;
}

.list-info li:last-child:after {
	content: "x";
	font-weight: 900;
	position: absolute;
	top: 50px;
	left: 40px;
	-webkit-transform: translate(-100%, -50%);
	-ms-transform: translate(-100%, -50%);
	transform: translate(-100%, -50%);
	font-size: 50px;
}

.small-info {
	font-size: 16px;
	font-weight: 700;
	text-transform: inherit;
}

.content-info {
	font-weight: 700;
	color: #e5e5e5;
	max-width: 655px;
	margin: 0 auto;
}

.content-info .info-text {
	font-size: 30px;
	color: #e5e5e5;
	text-transform: uppercase;
}

.content-info h3 {
	text-transform: uppercase;
}

.sections-group-sections {
	position: relative;
}

.top-block {
	top: 5em;
	left: 0;
	right: 0;
	text-align: center;
	margin: 0 0 5em;
	position: absolute;
	z-index: 1;
}

.holder-picture-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	min-height: 100vh;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	background: #191919;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.picture {
	top: 0;
	left: 0;
	filter: blur(10px);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: absolute;
	width: 100%;
	min-height: 100vh;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.list-text,
.small {
	max-width: 675px;
	text-shadow: 0 4px 12px rgba(0, 0, 0, .5);
	color: #e5e5e5;
	font-weight: 700;
}

.small {
	max-width: 500px;
}

.viewport-sections-group .holder-picture-block:before,
.viewport-sections-group .holder-picture-block:after,
.viewport-sections-group .first:before,
.viewport-sections-group .first:after,
.viewport-sections-group .last:before,
.viewport-sections-group .last:after,
.viewport-section .holder-picture-block:before,
.viewport-section .holder-picture-block:after,
.viewport-section .first:before,
.viewport-section .first:after,
.viewport-section .last:before,
.viewport-section .last:after {
	content: "";
	display: block;
	left: 50%;
	width: 12px;
	height: 50vh;
	position: absolute;
	border-radius: 6px;
}

.viewport-sections-group .holder-picture-block:before,
.viewport-sections-group .first:before,
.viewport-sections-group .last:before,
.viewport-section .holder-picture-block:before,
.viewport-section .first:before,
.viewport-section .last:before {
	opacity: 0;
	bottom: calc(100% + 50vh);
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	top: -25%;
	left: 50%;
	background-color: #fff;
	z-index: 3;
}

.viewport-sections-group .holder-picture-block:after,
.viewport-sections-group .first:after,
.viewport-sections-group .last:after,
.viewport-section .holder-picture-block:after,
.viewport-section .first:after,
.viewport-section .last:after {
	z-index: 999;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	top: 75%;
	opacity: 0;
	transform: translate(-50%, 0);
	background-color: #fff;
}

.viewport-sections-group .first:before,
.viewport-section .first:before {
	display: none;
}

.viewport-sections-group .last:after,
.viewport-section .last:after {
	display: none;
}

.viewport-sections-group.in-viewport .holder-picture-block,
.viewport-sections-group.in-viewport .first,
.viewport-sections-group.in-viewport .last,
.viewport-section.in-viewport .holder-picture-block,
.viewport-section.in-viewport .first,
.viewport-section.in-viewport .last {
	overflow: hidden;
}

.viewport-sections-group.in-viewport .holder-picture-block:after,
.viewport-sections-group.in-viewport .first:after,
.viewport-sections-group.in-viewport .last:after,
.viewport-section.in-viewport .holder-picture-block:after,
.viewport-section.in-viewport .first:after,
.viewport-section.in-viewport .last:after {
	opacity: 1 !important;
	-webkit-animation: after 2s;
	animation: after 2s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.viewport-sections-group.in-viewport .holder-picture-block:before,
.viewport-sections-group.in-viewport .first:before,
.viewport-sections-group.in-viewport .last:before,
.viewport-section.in-viewport .holder-picture-block:before,
.viewport-section.in-viewport .first:before,
.viewport-section.in-viewport .last:before {
	opacity: 1;
	height: 50vh;
	-webkit-animation: before .5s;
	animation: before .5s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.viewport-sections-group.in-viewport .holder-picture-block .img img,
.viewport-sections-group.in-viewport .first .img img,
.viewport-sections-group.in-viewport .last .img img,
.viewport-section.in-viewport .holder-picture-block .img img,
.viewport-section.in-viewport .first .img img,
.viewport-section.in-viewport .last .img img {
	opacity: 1;
	-webkit-animation: img 1s;
	animation: img 1s;
}

.viewport-sections-group.in-viewport .holder-picture-block .holder-img .holder-span,
.viewport-sections-group.in-viewport .first .holder-img .holder-span,
.viewport-sections-group.in-viewport .last .holder-img .holder-span,
.viewport-section.in-viewport .holder-picture-block .holder-img .holder-span,
.viewport-section.in-viewport .first .holder-img .holder-span,
.viewport-section.in-viewport .last .holder-img .holder-span {
	opacity: 1;
	-webkit-animation: img 1.5s;
	animation: img 1.5s;
}

.viewport-sections-group.in-viewport .holder-picture-block .holder-img .holder-span:before,
.viewport-sections-group.in-viewport .first .holder-img .holder-span:before,
.viewport-sections-group.in-viewport .last .holder-img .holder-span:before,
.viewport-section.in-viewport .holder-picture-block .holder-img .holder-span:before,
.viewport-section.in-viewport .first .holder-img .holder-span:before,
.viewport-section.in-viewport .last .holder-img .holder-span:before {
	-webkit-animation: img 1.5s;
	animation: img 1.5s;
}

.viewport-sections-group.in-viewport .holder-picture-block .holder-img .list-text,
.viewport-sections-group.in-viewport .first .holder-img .list-text,
.viewport-sections-group.in-viewport .last .holder-img .list-text,
.viewport-section.in-viewport .holder-picture-block .holder-img .list-text,
.viewport-section.in-viewport .first .holder-img .list-text,
.viewport-section.in-viewport .last .holder-img .list-text {
	opacity: 1;
	-webkit-animation: list-text 2s;
	animation: list-text 2s;
}

.viewport-sections-group .img,
.viewport-section .img {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	z-index: 2;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.viewport-sections-group .img img,
.viewport-section .img img {
	top: 50%;
	left: 50%;
	position: absolute;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
}

.viewport-sections-group .holder-img,
.viewport-section .holder-img {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	z-index: 2;
	color: #fff;
	position: absolute;
	font-size: 20px;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.viewport-sections-group .holder-img .holder-span,
.viewport-section .holder-img .holder-span {
	opacity: 0;
	text-transform: uppercase;
	margin: 0 0 60px;
	font-weight: 700;
	font-size: 30px;
	z-index: 2;
	text-shadow: 0 4px 12px rgba(0, 0, 0, .5);
}

.viewport-sections-group .holder-img .holder-span:before,
.viewport-section .holder-img .holder-span:before {
	content: "";
	position: absolute;
	width: 80px;
	height: 80px;
	top: 0;
	left: 50%;
	-webkit-transform: translate(-50%, -30%);
	-ms-transform: translate(-50%, -30%);
	transform: translate(-50%, -30%);
	background-color: #942b32;
	box-shadow: 0 4px 12px rgba(0, 0, 0, .5);
	border-radius: 50%;
	z-index: -1;
	-webkit-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
}

.viewport-sections-group .holder-img .list-text,
.viewport-section .holder-img .list-text {
	opacity: 0;
	text-shadow: 0 4px 12px rgba(0, 0, 0, .5);
	color: #e5e5e5;
	font-size: 20px;
	font-weight: 700;
}

.action-section {
	background: #191919;
	color: #e5e5e5;
	text-align: center;
	padding: 105px 0 50px;
}

.action-section .container {
	max-width: 575px;
	height: inherit;
	margin: 0 auto;
}

.action-section h2 {
	font-weight: 900;
	margin: 0 0 20px;
}

.action-section p {
	margin: 0 0 40px;
}

.action-btn-list {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	margin: 0 -20px;
}

.action-btn-list li {
	padding: 0 20px;
}

.action-btn-list a span {
	margin: 0 10px 0 0;
}

.signup-section {
	background: #191919;
	color: #e5e5e5;
	text-align: center;
	padding: 50px 0 120px;
}

.signup-section .container {
	height: inherit;
	margin: 0 auto;
}

.signup-section h3 {
	font-size: 30px;
	text-transform: uppercase;
	margin: 0 0 35px;
}

.signup-form {
	margin: 0 0 100px;
}

.signup-form .form-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 -12px 40px;
}

.signup-form .form-row .input-wrap {
	width: 33.33%;
	padding: 0 12px;
}

.signup-form .form-row .input-wrap input.input-error {
	border-color: #f00;
}

.signup-form .form-row .input-wrap input.input-success {
	color: #191919;
	background: #faffbd;
}

.form-success {
	padding: 30px;
	border-radius: 10px;
	background: #faffbd;
	border: 2px solid #191919;
	max-width: 300px;
	max-height: 250px;
	font-weight: 600;
	text-align: center;
}

.form-success .thank-you-message {
	display: block;
	color: #191919;
	text-transform: uppercase;
}

.thank-you-message {
	display: none;
}

.message,
.success-message,
.error-message {
	display: none;
}

.form-error .error-message,
.success .success-message {
	display: block;
}

.btn {
	display: inline-block;
	border-radius: 10px;
	text-decoration: none;
	color: #000;
	min-width: 240px;
	padding: 22px 15px;
	background-color: #fff;
	font-size: 18px;
	font-weight: 700;
	border: 2px solid #fff;
	-webkit-transition: color .3s ease-in-out, background .3s ease-in-out;
	transition: color .3s ease-in-out, background .3s ease-in-out;
}

.btn:hover {
	background-color: #191919;
	color: #fff;
}

.view-more-btn {
	color: #e5e5e5;
	font-size: 20px;
	font-weight: 700;
}

.story-section {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #e5e5e5;
	background-color: #191919;
}

.story-section .img-col {
	min-height: 1024px;
	background-position: 50% 0;
	background-size: cover;
	background-repeat: no-repeat;
	width: 56%;
}

.story-section .txt-text {
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	width: 44%;
	padding: 20px 40px;
	line-height: 1.5;
}

.map-section {
	color: #e5e5e5;
	background-color: #191919;
	position: relative;
}

.map-section.map-show {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9999;
}

.map-section.map-show .mask-holder {
	opacity: 0;
	visibility: hidden;
}

.map-section.map-show .back-to-mask {
	opacity: 1;
	visibility: visible;
}

.map-section.map-show .map-col {
	height: 100vh;
}

.map-section .mask-holder {
	display: none;
	opacity: 0;
	visibility: hidden;
}

.map-section .back-to-mask {
	display: none;
	width: 48px;
	height: 48px;
	top: 15px;
	left: 15px;
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	z-index: 2;
	box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .5);
}

.map-section .back-to-mask:before {
	content: "\e900";
	position: absolute;
	font-family: "icomoon";
	top: 50%;
	left: 50%;
	color: #000;
	opacity: .5;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.tab-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
}

.map-col {
	position: relative;
	min-height: 1024px;
	background-position: 50% 0;
	background-size: cover;
	background-repeat: no-repeat;
	width: 56%;
	padding: 50px 0 0 25px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.map-col h2 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	top: 1em;
	right: 0;
	left: 0;
}

.hover-txt {
	width: 44%;
	padding: 20px;
}

.txt-col {
	font-size: 20px;
	font-weight: 700;
	text-align: center;
}

.txt-col .txt {
	margin: 0 0 30px;
	display: block;
}

.txt-col .txt.date {
	margin: 0 0 10px;
}

.txt-col .slide img {
	height: auto;
	max-width: 100%;
}

.txt-col iframe {
	width: 100%;
}

.custom-map {
	position: absolute !important;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.dates-list,
.dates-group {
	color: #fff;
	font-size: 30px;
	font-weight: 700;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.dates-list li,
.dates-group li {
	text-shadow: 0 4px 12px rgba(0, 0, 0, .5);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	margin: 0 0 2.5em;
}

.dates-list li:after,
.dates-group li:after {
	content: "";
	top: 100%;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	display: block;
	width: 15px;
	height: 80px;
	border-radius: 6px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, .5);
	background-color: #fff;
	opacity: .8;
	position: absolute;
}

.dates-list li:last-child,
.dates-group li:last-child {
	margin: 0;
}

.dates-list li:last-child:after,
.dates-group li:last-child:after {
	display: none;
}

.dates-list li a,
.dates-group li a {
	color: #fff;
	cursor: pointer;
	text-decoration: none;
	padding: 10px 0;
	z-index: 1;
	position: relative;
}

.dates-list li.active a:after,
.dates-group li.active a:after {
	width: 80px;
	height: 80px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	content: "";
	background-color: #942b32;
	box-shadow: 0 4px 12px rgba(0, 0, 0, .5);
	border-radius: 50%;
	z-index: -1;
}

.audio-player {
	margin: 0 auto;
	max-width: 550px;
}

.audio-player audio {
	display: none;
}

.audio-player .play-btn {
	-ms-flex-negative: 0;
	flex-shrink: 0;
	text-decoration: none;
	color: #fff;
	font-size: 42px;
	margin: 0 10px 0 0;
	outline: none;
}

.audio-player .play-btn.is-play:before {
	content: "\e908";
}

.audio-player .progress-bar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100%;
}

.audio-player .progress-bar li {
	width: 12px;
	height: 40px;
	background: gray;
	border-radius: 10px;
	margin: 0 4px;
	-webkit-transition: background .3s;
	transition: background .3s;
}

.audio-player .progress-bar li.sm {
	height: 16px;
}

.audio-player .progress-bar li.md {
	height: 24px;
}

.audio-player .progress-bar li.lg {
	height: 56px;
}

.audio-player .progress-bar li.pass-progress {
	background: #fff;
}

.audio-player .timer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.audio-player .controls-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0 0 15px;
}

.about-video-section {
	position: relative;
	width: 100%;
	background: #000;
}

.bg-video-holder {
	position: relative;
	overflow: hidden;
	background-size: cover;
}

.bg-video-holder .bg-video {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	-webkit-transition: opacity .3s ease;
	transition: opacity .3s ease;
	pointer-events: none;
}

.video-active .bg-video {
	opacity: 1;
}

.custom-video-controls {
	width: 916px;
	margin: 0 auto;
	position: absolute;
	bottom: 50px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	text-shadow: 0 4px 12px rgba(0, 0, 0, .5);
}

.custom-video-controls .progress-bar {
	position: relative;
	width: 100%;
	height: 4px;
	margin: 0 0 10px;
	background: #e5e5e5;
}

.custom-video-controls .progress-bar .cur-progress,
.custom-video-controls .progress-bar .loaded-progress {
	height: 100%;
	position: absolute;
}

.custom-video-controls .progress-bar .loaded-progress {
	background: #d8d8d8;
}

.custom-video-controls .progress-bar .cur-progress {
	background: #942b32;
	z-index: 2;
}

.custom-video-controls .progress-bar .cur-progress:before {
	content: "";
	top: -6px;
	right: -15px;
	width: 16px;
	height: 16px;
	position: absolute;
	border-radius: 50%;
	background: #942b32;
}

.custom-video-controls .progress-bar .loaded-progress {
	z-index: 1;
}

.controls {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.controls a {
	color: #fff;
	font-size: 24px;
	margin: 0 10px 0 0;
	text-decoration: none;
	-webkit-transition: opacity .3s linear;
	transition: opacity .3s linear;
}

.controls a:hover {
	opacity: .7;
}

.controls a.is-play:before {
	content: "\e908";
}

.controls .box {
	color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.controls .box .time {
	font-size: 18px;
	font-weight: 700;
	opacity: .8;
}

.control-box .icon-volume.is-muted:before {
	content: "\e905";
}

.tab-content {
	position: relative;
	overflow: hidden;
	-webkit-transition: none !important;
	transition: none !important;
}

.tab-content > .tab-holder {
	display: block;
	position: absolute;
	top: -9999px;
	left: -9999px;
	width: 100%;
	max-height: 100%;
	opacity: 0;
	visibility: hidden;
}

.tab-content > .tab-holder.active-tab {
	opacity: 1;
	visibility: visible;
	position: static;
}

.tab-content > .tab-holder .transition {
	-webkit-transition: height .5s ease;
	transition: height .5s ease;
}

.tab-content .slide-tabset .tab {
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition: -webkit-transform .5s ease;
	transition: -webkit-transform .5s ease;
	transition: transform .5s ease;
	transition: transform .5s ease, -webkit-transform .5s ease;
}

.tab-content .slide-tabset .tab.active {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

.fade-tabset .tab {
	line-height: 1.5;
	z-index: 2;
	opacity: 0;
	-webkit-transition: opacity .5s ease;
	transition: opacity .5s ease;
}

.fade-tabset .tab.active {
	opacity: 1;
	z-index: 2;
}

.slick-dots {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 10px 0;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 0 0 50px;
	list-style: none;
	z-index: 2;
}

.slick-dots li {
	padding: 0 10px;
}

.slick-dots li button {
	text-indent: -9999px;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	padding: 0;
	min-width: auto;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
}

.slick-dots li button:hover {
	opacity: .7;
}

.tabset ul li a.active {
	background: red;
}

.custom-bg-video {
	width: 100%;
	height: 100%;
	position: relative !important;
	margin: 0 0 -4px !important;
}

.show-video .about-bg-image {
	display: none;
}

.about-bg-image {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

#footer {
	background: #191919;
	color: #fff;
	padding: 20px 0;
}

#footer a {
	color: #fff;
	text-decoration: none;
	-webkit-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
}

#footer .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

#footer .footer-logo a {
	display: inline-block;
}

#footer .copyright {
	font-weight: 700;
}

#footer .copyright span {
	display: block;
}

#footer .copyright a:hover {
	opacity: .6;
}

#footer .copyright .copyright-link:hover {
	opacity: .6 !important;
}

.soc-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0 20px 0 0;
	font-size: 22px;
}

.soc-list li {
	margin: 0 4px;
}

.soc-list li a {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 44px;
	height: 44px;
	border: 2px solid #fff;
	border-radius: 50%;
}

.soc-list li a:hover {
	background: #fff;
	border: 2px solid #191919;
	color: #191919 !important;
}

#wrapper {
	overflow: hidden;
	position: relative;
}

.container {
	max-width: 970px;
	padding: 0 15px;
	margin: 0 auto;
}

.collor-red {
	color: #942b32;
	text-transform: uppercase;
	font-weight: 900;
}

@media (min-width: 768px) {
	.nav-opener {
		display: none;
	}
}

@media (min-width: 1441px) {
	.txt-col iframe {
		width: 560px;
	}
}

@media (max-width: 1399px) {
	.story-section .txt-text {
		padding: 20px 10px;
	}
}

@media (max-width: 1344px) {
	.viewport-sections-group .img,
	.viewport-section .img {
		display: block;
	}
}

@media (max-width: 1299px) {
	.audio-player {
		width: 85%;
	}

	.audio-player .progress-bar li {
		width: 5%;
	}
}

@media (max-width: 1199px) {
	.tab-row {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.map-col {
		width: 100%;
		padding: 20px;
		min-height: 667px;
	}

	.hover-txt {
		width: 80%;
		margin: 0 auto;
	}
}

@media (max-width: 1099px) {
	.viewport-sections-group .holder-img,
	.viewport-section .holder-img {
		font-size: 16px;
	}
}

@media (max-width: 1023px) {
	.viewport-section.in-viewport .head-block h1,
	.main-viewport-section.in-viewport .head-block h1 {
		font-size: 100px;
	}

	.visual {
		min-height: 800px;
	}

	.top-block h2 {
		font-size: 40px;
	}

	.viewport-sections-group .holder-img .holder-span,
	.viewport-section .holder-img .holder-span {
		margin: 0 0 30px;
	}

	.viewport-sections-group .holder-img .list-text,
	.viewport-section .holder-img .list-text {
		font-size: 16px;
	}

	.story-section {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.story-section .img-col {
		width: 100%;
	}

	.story-section .txt-text {
		width: 100%;
	}

	.custom-video-controls {
		width: 90%;
		bottom: 15px;
	}

	.controls a {
		font-size: 16px;
	}

	.controls .box .time {
		font-size: 12px;
	}
}

@media (max-width: 799px) {
	.viewport-sections-group .holder-img .holder-span,
	.viewport-section .holder-img .holder-span {
		font-size: 16px;
	}

	.viewport-sections-group .holder-img .holder-span:before,
	.viewport-section .holder-img .holder-span:before {
		-webkit-transform: translate(-50%, -40%);
		-ms-transform: translate(-50%, -40%);
		transform: translate(-50%, -40%);
	}
}

@media (max-width: 767px) {
	.slick-slider {
		margin: 0 20px 120px;
	}

	.fancybox-close {
		top: 10px;
		right: 10px;
	}

	.drop {
		z-index: 1;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		opacity: 0;
		padding: 15px 0;
		visibility: hidden;
		-webkit-transform: translate(100%, 0);
		-ms-transform: translate(100%, 0);
		transform: translate(100%, 0);
		background-color: rgba(0, 0, 0, .5);
		-webkit-transition-property: opacity, visibility, -webkit-transform;
		transition-property: opacity, visibility, -webkit-transform;
		transition-property: opacity, visibility, transform;
		transition-property: opacity, visibility, transform, -webkit-transform;
		-webkit-transition-duration: .3s;
		transition-duration: .3s;
		-webkit-transition-timing-function: linear;
		transition-timing-function: linear;
	}

	.nav-active .drop {
		opacity: 1;
		visibility: visible;
		-webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		transform: translate(0, 0);
	}

	#nav {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	#nav li {
		padding: 0 15px;
	}

	.viewport-section.in-viewport .head-block h1,
	.main-viewport-section.in-viewport .head-block h1 {
		font-size: 70px;
	}

	#popup1 {
		padding: 40px 15px;
	}

	#popup1 h3 {
		font-size: 22px;
	}

	#popup1 .span-lightbox {
		margin: 0 0 20px;
		font-size: 16px;
	}

	#popup1 .signup-form .form-row {
		margin: 0 0 20px;
	}

	#popup1 .signup-form .form-row .input-wrap {
		width: 100%;
		padding: 0;
	}

	#popup1 .signup-form .form-row .input-wrap input {
		font-size: 14px;
	}

	.whole-content {
		font-size: 14px;
		margin-bottom: 25vh;
	}

	.head-block .span-text {
		font-size: 20px;
	}

	.viewport-sections-group .viewport-section.in-viewport .box-man {
		width: 90%;
		padding: 40px 10px;
	}

	.viewport-sections-group .viewport-section.in-viewport .box-man h2 {
		margin: 0 0 10px;
	}

	.viewport-sections-group .viewport-section.in-viewport .box-man .holder-block {
		font-size: 14px;
	}

	.img-man {
		width: 99%;
		margin: 0 auto;
	}

	.visual {
		min-height: 500px;
	}

	.list-info li {
		padding: 0 20px;
	}

	.list-info li:before {
		font-size: 60px;
	}

	.list-info li:first-child {
		padding: 0 20px 0 0;
	}

	.list-info li:last-child {
		padding: 0 0 0 75px;
	}

	.list-info li:last-child:after {
		top: 50%;
		left: 35px;
		font-size: 30px;
	}

	.content-info .info-text {
		font-size: 20px;
	}

	.top-block {
		top: 1em;
	}

	.top-block h2 {
		font-size: 20px;
	}

	.holder-picture-block {
		-webkit-box-pack: left;
		-ms-flex-pack: left;
		justify-content: left;
		height: 100vh;
		padding: 30px;
	}

	.list-text,
	.small {
		max-width: inherit;
		width: 90%;
	}

	.small {
		max-width: inherit;
		width: 90%;
	}

	.viewport-sections-group .holder-picture-block:before,
	.viewport-sections-group .holder-picture-block:after,
	.viewport-sections-group .first:before,
	.viewport-sections-group .first:after,
	.viewport-sections-group .last:before,
	.viewport-sections-group .last:after,
	.viewport-section .holder-picture-block:before,
	.viewport-section .holder-picture-block:after,
	.viewport-section .first:before,
	.viewport-section .first:after,
	.viewport-section .last:before,
	.viewport-section .last:after {
		display: none;
	}

	.viewport-sections-group .img img,
	.viewport-section .img img {
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;
	}

	.viewport-sections-group .holder-img,
	.viewport-section .holder-img {
		width: 90%;
	}

	.viewport-sections-group .holder-img .holder-span:before,
	.viewport-section .holder-img .holder-span:before {
		width: 40px;
		height: 40px;
		-webkit-transform: translate(-50%, -30%);
		-ms-transform: translate(-50%, -30%);
		transform: translate(-50%, -30%);
	}

	.action-section {
		padding: 30px 0;
	}

	.action-btn-list {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.action-btn-list li {
		margin: 0 0 15px;
	}

	.signup-section h3 {
		font-size: 20px;
	}

	.signup-form .form-row {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.signup-form .form-row .input-wrap {
		width: 80%;
		margin: 0 0 15px;
	}

	.story-section .img-col {
		min-height: 700px;
	}

	.story-section .txt-text {
		font-size: 16px;
		padding: 40px;
	}

	.story-section .txt-text p {
		margin: 0 0 20px;
	}

	.map-section.map-show {
		position: fixed;
	}

	.map-section .mask-holder {
		display: block;
		opacity: 1;
		visibility: visible;
		width: 100%;
		height: 100%;
		position: absolute;
		background: rgba(0, 0, 0, .4);
		z-index: 3;
	}

	.map-section .mask-holder .content-holder {
		color: #fff;
		text-align: center;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-transform: translateY(60%);
		-ms-transform: translateY(60%);
		transform: translateY(60%);
		padding: 0 10px;
	}

	.map-section .mask-holder .content-holder h3 {
		text-transform: uppercase;
		font-size: 30px;
	}

	.map-section .mask-holder .content-holder .span-content {
		font-size: 20px;
		line-height: 1.5;
		font-weight: 700;
		margin: 0 0 2em;
	}

	.map-section .mask-holder .content-holder .go-to-map {
		font-size: 18px;
		font-weight: 700;
		padding: 20px 70px;
		color: #000;
		background: #fff;
		border-radius: 8px;
		text-decoration: none;
		border: 2px solid #fff;
		-webkit-transition: color .3s ease-in-out, background .3s ease-in-out;
		transition: color .3s ease-in-out, background .3s ease-in-out;
	}

	.map-section .mask-holder .content-holder .go-to-map:hover {
		border-radius: 10px;
		background: #000;
		color: #fff;
	}

	.map-section .back-to-mask {
		display: block;
		opacity: 0;
		visibility: visible;
	}

	.map-col h2 {
		display: none;
	}

	.hover-txt {
		padding: 0;
	}

	.txt-col {
		width: 100%;
		padding: 0;
	}

	.dates-list li,
	.dates-group li {
		color: #191919;
		text-shadow: inherit;
		font-size: 16px;
	}

	.dates-list li:after,
	.dates-group li:after {
		width: 8px;
		height: 40px;
		box-shadow: 0 4px 12px rgba(0, 0, 0, .5);
		border-radius: 6px;
		background-color: #191919;
		opacity: .4;
	}

	.dates-list li a,
	.dates-group li a {
		color: #191919;
		text-shadow: inherit;
		font-size: 16px;
	}

	.dates-list li.active a,
	.dates-group li.active a {
		color: #fff;
	}

	.dates-list li.active a:after,
	.dates-group li.active a:after {
		width: 48px;
		height: 48px;
	}

	.tab-content {
		position: static;
		visibility: visible;
	}

	.tab-content > .tab-holder {
		overflow: hidden;
		overflow-y: auto;
		position: absolute !important;
		top: 80px;
		padding: 20px 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: #191919;
		-webkit-transform: translateY(100%);
		-ms-transform: translateY(100%);
		transform: translateY(100%);
	}

	.tab-content > .tab-holder.active-tab {
		z-index: 999;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
		-webkit-transition: -webkit-transform .8s;
		transition: -webkit-transform .8s;
		transition: transform .8s;
		transition: transform .8s, -webkit-transform .8s;
		-webkit-animation: active-tab .8s;
		animation: active-tab .8s;
	}

	.fade-tabset .tab {
		font-size: 16px;
		padding: 0 10px;
	}

	.fade-tabset .tab h3 {
		font-size: 20px;
	}

	.slick-dots li {
		padding: 0 4px;
	}

	.slick-dots li button {
		height: 12px;
		width: 12px;
	}

	.custom-bg-video {
		height: inherit;
	}

	#footer .container {
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	#footer .footer-logo {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1;
		margin: 0 0 20px;
	}

	#footer .copyright {
		max-width: 300px;
	}

	.soc-list {
		margin: 0 0 20px;
	}

	h2 {
		font-size: 20px;
	}

	h3 {
		font-size: 18px;
	}
}

@media (max-width: 599px) {
	.list-info li {
		padding: 0 15px;
	}

	.list-info li:first-child {
		padding: 0 15px 0 0;
	}

	.list-info li:last-child {
		padding: 0 0 0 40px;
	}

	.list-info li:last-child:after {
		top: 50%;
		left: 10%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}

	.holder-picture-block {
		padding: 10px;
	}
}

@media (max-width: 479px) {
	#nav {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	#nav li {
		margin: 0 0 15px;
	}

	.viewport-section.in-viewport .head-block h1,
	.main-viewport-section.in-viewport .head-block h1 {
		font-size: 50px;
	}

	#popup1 .signup-form .form-row {
		margin: 0;
	}

	.list-info li:before {
		font-size: 30px;
	}

	.list-info li:last-child {
		padding: 0 0 0 25px;
	}

	.list-info li:last-child:after {
		font-size: 15px;
	}

	.signup-form .form-row .input-wrap {
		width: 100%;
	}

	.story-section .img-col {
		min-height: 475px;
	}

	.story-section .txt-text {
		padding: 40px 10px;
	}

	.txt-col iframe {
		max-height: 265px;
	}

	.audio-player {
		width: 100%;
	}
}

@media (max-height: 499px) {
	.slick-slider {
		margin: 0 20px 100vh;
	}

	.dates-list,
	.dates-group {
		top: 90px;
		position: absolute;
	}

	.dates-list li,
	.dates-group li {
		margin: 0 0 20px !important;
	}

	.dates-list li:after,
	.dates-group li:after {
		height: 20px !important;
	}
}

@-webkit-keyframes opacity {
	0%,
	40% {
		opacity: 0;
		-webkit-transform: scale(.8);
		transform: scale(.8);
	}

	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes opacity {
	0%,
	40% {
		opacity: 0;
		-webkit-transform: scale(.8);
		transform: scale(.8);
	}

	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@-webkit-keyframes box-man {
	0%,
	70% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes box-man {
	0%,
	70% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-webkit-keyframes line-man {
	0% {
		width: 0;
	}

	100% {
		width: 100%;
	}
}

@keyframes line-man {
	0% {
		width: 0;
	}

	100% {
		width: 100%;
	}
}

@-webkit-keyframes after {
	0%,
	60% {
		height: 0;
	}

	100% {
		height: 50vh;
	}
}

@keyframes after {
	0%,
	60% {
		height: 0;
	}

	100% {
		height: 50vh;
	}
}

@-webkit-keyframes before {
	0%,
	20% {
		top: -55%;
	}

	100% {
		top: -25%;
	}
}

@keyframes before {
	0%,
	20% {
		top: -55%;
	}

	100% {
		top: -25%;
	}
}

@-webkit-keyframes img {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes img {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes img {
	0%,
	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes img {
	0%,
	50% {
		opacity: 0;
		visibility: hidden;
	}

	100% {
		opacity: 1;
		visibility: visible;
	}
}

@-webkit-keyframes list-text {
	0%,
	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes list-text {
	0%,
	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
