// forms
form,
fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
//input[type='url'],
// input[type='date'],
textarea {
	width: 100%;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	box-sizing: border-box;
	border: 2px solid $form-element-border-color;
	padding: 10px 25px;
	background-color: transparent;
	color: $white;
	font-size: 20px;
	font-weight: 700;
	// transition: opacity $animation-speed;
	// &:hover {
	// 	opacity: .7;
	// }

	&:focus {
		// border-color: $form-element-focus-border-color;
		outline:none;
	}

	@include placeholder {
		color: #a2a2a2;;
	}
}

select {
	-webkit-border-radius: 0;
}

textarea {
	resize: vertical;
	vertical-align: top;
}

button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
	-webkit-appearance: none;
	cursor: pointer;
	border: 2px solid $form-element-border-color;
	display: inline-block;
	border-radius: 10px;
	text-decoration: none;
	color: $black;
	min-width: 240px;
	padding: 22px 15px;
	background-color: $white;
	font-size: 18px;
	font-weight: 700;
	outline:none;
}
