#wrapper {
	overflow: hidden;
	position: relative;
}

.container {
	max-width: 970px;
	padding: 0 15px;
	margin: 0 auto;
	@include media('<1400px') {
		
	}
}

.collor-red {
	color: $red;
	text-transform: uppercase;
	font-weight: 900;
}

h2 {
	@include media('<tablet') {
		font-size: 20px;
	}
}

h3 {
	@include media('<tablet') {
		font-size: 18px;
	}
}
