body {
	&.map-active {
		overflow: hidden;
	}
}
.viewport-section,
.main-viewport-section {
	&.in-viewport {
		.head-block {
			// opacity: 1;
			visibility: visible;
			display: flex;
			flex-direction: column;
			align-items: center;
			h1 {
				@include media ('<desktop') {
					font-size: 100px;
				}
				@include media ('<tablet') {
					font-size: 70px;
				}
				@include media ('<phone') {
					font-size: 50px;
				}
			}
		}
		.block-hide {
			opacity: 0;
			visibility: hidden;
			position: fixed;
			display: flex;
			flex-direction: column;
		}
		.video-holder {
			opacity: 1;
			visibility: visible;
			transition: opacity .3s;
		}
	}
	.head-block {
		// opacity: 0;
		visibility: hidden;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		position: fixed;
		transition: opacity .3s;
		animation-fill-mode: forwards;
		animation: opacity 5s ease-in-out;
		@keyframes opacity {
			0%, 40% {
				opacity: 0;
				transform: scale(.8);
			}
			100% {
				opacity: 1;
				transform: scale(1);
			}
		}
	}
	.video-holder {
		width: 100%;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		// z-index: -1;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s, visibility 0.3s;
	}
	.block-hide {
		opacity: 0;
		visibility: hidden;
		transition: opacity .3s;
	}
}


#popup1 {
	padding: 90px 22px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	@include media ('<tablet') {
		padding: 40px 15px;
	}
	h3 {
		font-size: 30px;
		text-transform: uppercase;
		margin: 0 0 16px;
		@include media ('<tablet') {
			font-size: 22px;
		}
	}
	.span-lightbox {
		font-size: 20px;
		font-weight: 800;
		letter-spacing: 1px;
		margin: 0 0 32px;
		@include media ('<tablet') {
			margin: 0 0 20px;
			font-size: 16px;
		}
	}
	.signup-form {
		justify-content: center;
		margin: 0;
		.form-row {
			margin: 0 0 32px;
			@include media ('<tablet') {
				margin: 0 0 20px;
			}
			@include media ('<phone') {
				margin: 0;
			}
			.input-wrap {
				width: inherit;
				@include media ('<tablet') {
					width: 100%;
					padding: 0;
				}
				input {
					max-width: 296px;
					@include media ('<tablet') {
						font-size: 14px;
					}
				}
			}
		}
		.btn {
			max-width: 240px;
			font-weight: 800;
			margin: 0 auto;
			text-align: center;
			display: block;
		}
	}
}

.popup-holder {
	position: relative;
	overflow: hidden;
	height: 0;
}

.whole-content {
	height: 100vh;
	max-width: 800px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	color: $gray;
	position: relative;
	margin: 0 auto;
	z-index: 1;
	font-size: 20px;
	font-weight: 700;
	line-height: 30px;
	text-shadow: 0 4px 12px rgba($black, 0.5);
	margin-bottom: 50vh;
	@include media ('<tablet') {
		font-size: 14px;
		margin-bottom: 25vh;
	}
}

.head-block {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	position: fixed;
	h1 {
		width: 100%;
		text-transform: uppercase;
		margin: 0 auto 20px;
		max-width: 738px;
		line-height: .9;
	}
	.span-text {
		font-size: 30px;
		font-weight: 700;
		@include media ('<tablet') {
			font-size: 20px;
		}
	}
}

.holder-bg-rows {
	height: 100vh;
	margin-bottom: 10vh;
	z-index: 9999;
}

.viewport-sections-group {
	.sections-group {
		background: $black;
	}
	.viewport-section {
		&.in-viewport {
			.box-man {
				opacity: 1;
				visibility: visible;
				position: absolute;
				width: 74.5%;
				text-align: center;
				top: 49%;
				left: 50%;
				transform: translate(-50%, -50%);
				padding: 40px 0;
				background: $white;
				color: $red;
				font-weight: 700;
				line-height: 1.15;
				animation: box-man 3.5s;
				@include media ('<tablet') {
					width: 90%;
					padding: 40px 10px;
				}
				@keyframes box-man {
					0%, 70% {
						opacity: 0;
					}
					100% {
						opacity: 1;
					}
				}
				h2 {
					margin: 0;
					@include media ('<tablet') {
						margin: 0 0 10px;
					}
				}
				.holder-block {
					max-width: 595px;
					margin: 0 auto;
					line-height: 1.5;
					@include media ('<tablet') {
						font-size: 14px;
					}
					h3 {
						line-height: 1;
						text-transform: uppercase;
						font-weight: 900;
						color: $black;
					}
				}
			}
		}
		.box-man {
			opacity: 0;
			visibility: hidden;
			transition: .3s;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

.bg-rows {
	height: 100vh;
	position: relative;
}

.img-man {
	@extend %listreset;
	@include media ('<tablet') {
		width: 99%;
		margin: 0 auto;
	}
	.bg-man {
		height: 21px;
		overflow: hidden;
		opacity: 0;
		visibility: hidden;
		@keyframes line-man {
			0% {
				width: 0;
			}
			100% {
				width: 100%;
			}
		}
	}
}

.visual {
	padding: 6% 0;
	min-height: 1024px;
	background: #8e8e8e;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	@include media ('<desktop') {
		min-height: 800px;
	}
	@include media ('<tablet') {
		min-height: 500px;
	}
	.container {
		text-align: center;
	}
}

.head-info {
	position: relative;
	overflow: hidden;
	margin: 0 0 50px;
	h2 {
		text-shadow: 0 4px 12px rgba($black, .5);
	}
}

.list-info {
	@extend %listreset;
	display: flex;
	justify-content: center;
	position: relative;
	li {
		padding: 0 40px;
		color: $red;
		position: relative;
		@include media ('<tablet') {
			padding: 0 20px;
		}
		@include media ('<600px') {
			padding: 0 15px;
		}
		&:before {
			content: "\e903";
			font-size: 100px;
			font-family: "icomoon";
			@include media ('<tablet') {
				font-size: 60px;
			}
			@include media ('<phone') {
				font-size: 30px;
			}
		}
		&:first-child {
			padding: 0 40px 0 0;
			@include media ('<tablet') {
				padding: 0 20px 0 0;
			}
			@include media ('<600px') {
				padding: 0 15px 0 0;
			}
		}
		&:last-child {
			color: $white;
			padding: 0 0 0 90px;
			@include media ('<tablet') {
				padding: 0 0 0 75px;
			}
			@include media ('<600px') {
				padding: 0 0 0 40px;
			}
			@include media ('<phone') {
				padding: 0 0 0 25px;
			}
			&:after {
				content: "x";
				font-weight: 900;
				position: absolute;
				top: 50px;
				left: 40px;
				transform: translate(-100%, -50%);
				font-size: 50px;
				@include media ('<tablet') {
					top: 50%;
					left: 35px;
					font-size: 30px;
				}
				@include media ('<600px') {
					top: 50%;
					left: 10%;
					transform: translate(-50%, -50%);
				}
				@include media ('<phone') {
					font-size: 15px;
				}
			}
		}
	}
}

.small-info {
	font-size: 16px;
	font-weight: 700;
	text-transform: inherit;
}

.content-info {
	font-weight: 700;
	color: $gray;
	max-width: 655px;
	margin: 0 auto;
	.info-text {
		font-size: 30px;
		color: $gray;
		text-transform: uppercase;
		@include media ('<tablet') {
			font-size: 20px;
		}
	}
	h3 {
		text-transform: uppercase;
	}
}

.sections-group-sections {
	position: relative;
}

.top-block {
	top: 5em;
	left: 0;
	right: 0;
	text-align: center;
	margin: 0 0 5em;
	position: absolute;
	z-index: 1;
	@include media ('<tablet') {
		top: 1em;
	}
	h2 {
		@include media ('<desktop') {
			font-size: 40px;
		}
		@include media ('<tablet') {
			font-size: 20px;
		}
	}
}

.holder-picture-block {
	display: flex;
	width: 100%;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
	position: relative;
	background: $black-2;
	flex-direction: column;
	@include media ('<tablet') {
		justify-content: left;
		height: 100vh;
		padding: 30px;
	}
	@include media ('<600px') {
		padding: 10px;
	}
}

.picture {
	top: 0;
	left: 0;
	filter: blur(10px);
	display: flex;
	position: absolute;
	width: 100%;
	min-height: 100vh;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.list-text,
.small {
	max-width: 675px;
	text-shadow: 0 4px 12px rgba($black ,0.5);
	color: $gray;
	font-weight: 700;
	@include media ('<tablet') {
		max-width: inherit;
		width: 90%;
	}
}
.small {
	max-width: 500px;
	@include media ('<tablet') {
		max-width: inherit;
		width: 90%;
	}
}

.viewport-sections-group,
.viewport-section {
	.holder-picture-block,
	.first,
	.last {
		&:before,
		&:after {
			content: '';
			display: block;
			left: 50%;
			width: 12px;
			height: 50vh;
			position: absolute;
			border-radius: 6px;
			@include media ('<tablet') {
				display: none;
			}
		}
		&:before {
			opacity: 0;
			bottom: calc(100% + 50vh);
			transform: translate(-50%, 0);
			top: -25%;
			left: 50%;
			background-color: $white;
			z-index: 3;
		}
		&:after {
			z-index: 999;
			left: 50%;
			transform: translate(-50%, 0);
			top: 75%;
			opacity: 0;
			transform: translate(-50%, 0);
			background-color: $white;
		}
	}
	.first {
		&:before {
			display: none;
		}
	}
	.last {
		&:after {
			display: none;
		}
	}
	&.in-viewport {
		.holder-picture-block,
		.first,
		.last {
			overflow: hidden;
			&:after {
				opacity: 1 !important;
				animation: after 2s ;
				animation-fill-mode: forwards;
				@keyframes after {
					0%, 60% {
						height: 0;
					}
					100% {
						height: 50vh;
					}
				}
			}
			&:before {
				opacity: 1;
				height: 50vh;
				animation: before .5s;
				animation-fill-mode: forwards;
				@keyframes before {
					0%, 20% {
						top: -55%;
					}
					100% {
						top: -25%;
					}
				}
			}
			.img {
				img {
					opacity: 1;
					animation: img 1s;
					@keyframes img {
						0% {
							opacity: 0;
						}
						100% {
							opacity: 1;
						}
					}
				}
			}
			.holder-img {
				.holder-span {
					opacity: 1;
					animation: img 1.5s;
					@keyframes img {
						0%, 50% {
							opacity: 0;
						}
						100% {
							opacity: 1;
						}
					}
					&:before {
						// opacity: 1;
						animation: img 1.5s;
						@keyframes img {
							0%, 50% {
								opacity: 0;
								visibility: hidden;
							}
							100% {
								opacity: 1;
								visibility: visible;
							}
						}
					}
				}
				.list-text {
					opacity: 1;
					animation: list-text 2s;
					@keyframes list-text {
						0%, 50% {
							opacity: 0;
						}
						100% {
							opacity: 1;
						}
					}
				}
			}
		}
	}
	.img {
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 2;
		width: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		@include media ('<1345px') {
			display: block;
		}
		img {
			top: 50%;
			left: 50%;
			position: absolute;
			transform: translate(-50%, -50%);
			opacity: 0;
			@include media ('<tablet') {
				// display: none;
				// visibility: hidden;
				background-size: cover;
				background-position: 50% 50%;
				background-repeat: no-repeat;
			}
		}
	}
	.holder-img {
		display: flex;
		flex-direction: column;
		align-items: center;
		z-index: 2;
		color: $white;
		position: absolute;
		font-size: 20px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		@include media ('<1100px') {
			font-size: 16px;
		}
		@include media ('<tablet') {
			width: 90%;
		}
		.holder-span {
			opacity: 0;
			text-transform: uppercase;
			margin: 0 0 60px;
			font-weight: 700;
			font-size: 30px;
			z-index: 2;
			text-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
			@include media ('<desktop') {
				margin: 0 0 30px;
			}
			@include media ('<800px') {
				font-size: 16px;
			}
			&:before {
				content: '';
				position: absolute;
				// opacity: 0;
				width: 80px;
				height: 80px;
				top: 0;
				left: 50%;
				transform: translate(-50%,-30%);
				background-color: $red;
				box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
				border-radius: 50%;
				z-index: -1;
				transition: opacity .3s ease-in-out;
				@include media ('<800px') {
					transform: translate(-50%,-40%)
				}
				@include media ('<tablet') {
					width: 40px;
					height: 40px;
					transform: translate(-50%,-30%);
				}
			}
		}
		.list-text {
			opacity: 0;
			text-shadow: 0 4px 12px rgba($black ,0.5);
			color: $gray;
			font-size: 20px;
			font-weight: 700;
			@include media ('<desktop') {
				font-size: 16px;
			}
		}
	}
}

.action-section {
	background: $black-2;
	color: $gray;
	text-align: center;
	padding: 105px 0 50px;
	@include media ('<tablet') {
		padding: 30px 0;
	}
	.container {
		max-width: 575px;
		height: inherit;
		margin: 0 auto;
	}
	h2 {
		font-weight: 900;
		margin: 0 0 20px;
	}
	p {
		margin: 0 0 40px;
	}
}

.action-btn-list {
	@extend %listreset;
	display: inline-flex;
	margin: 0 -20px;
	@include media ('<tablet') {
		flex-wrap: wrap;
		justify-content: center;
	}
	li {
		padding: 0 20px;
		@include media ('<tablet') {
			margin: 0 0 15px;
		}
	}
	a {
		span {
			margin: 0 10px 0 0;
		}
	}
}

.signup-section {
	background: $black-2;
	color: $gray;
	text-align: center;
	padding: 50px 0 120px;
	.container {
		height: inherit;
		margin: 0 auto;
	}
	h3 {
		font-size: 30px;
		text-transform: uppercase;
		margin: 0 0 35px;
		@include media ('<tablet') {
			font-size: 20px;
		}
	}
}

.signup-form {
	margin: 0 0 100px;
	.form-row {
		display: flex;
		margin: 0 -12px 40px;
		@include media ('<tablet') {
			flex-wrap: wrap;
			justify-content: center;
		}
		.input-wrap {
			width: 33.33%;
			padding: 0 12px;
			@include media ('<tablet') {
				width: 80%;
				margin: 0 0 15px;
			}
			@include media ('<phone') {
				width: 100%;
			}
			input {
				&.input-error {
					border-color: #f00;
				}
				&.input-success {
					color: $black-2;
					background: #FAFFBD;
				}
			}
		}
	}
}

.form-success {
	padding: 30px;
	border-radius: 10px;
	background: #FAFFBD;
	border: 2px solid $black-2;
	max-width: 300px;
	max-height: 250px;
	font-weight: 600;
	text-align: center;
	.thank-you-message {
		display: block;
		color: $black-2;
		text-transform: uppercase;
	}
}

.thank-you-message {
	display: none;
}

.message,
.success-message,
.error-message { display: none; }

.form-error .error-message,
.success .success-message { display: block; }

.btn {
	display: inline-block;
	border-radius: 10px;
	text-decoration: none;
	color: $black;
	min-width: 240px;
	padding: 22px 15px;
	background-color: $white;
	font-size: 18px;
	font-weight: 700;
	border: 2px solid $white;
	transition: color .3s ease-in-out, background .3s ease-in-out;
	&:hover {
		background-color: $black-2;
		color: $white;
	}
}

.view-more-btn {
	color: #e5e5e5;
	font-size: 20px;
	font-weight: 700;
}

.story-section {
	display: flex;
	align-items: center;
	color: $gray;
	background-color: $black-2;
	@include media ('<desktop') {
		flex-wrap: wrap;
	}
	.img-col {
		min-height: 1024px;
		background-position: 50% 0;
		background-size: cover;
		background-repeat: no-repeat;
		width: 56%;
		@include media ('<desktop') {
			width: 100%;
		}
		@include media ('<tablet') {
			min-height: 700px;
		}
		@include media ('<phone') {
			min-height: 475px;
		}
	}
	.txt-text {
		font-size: 20px;
		font-weight: 700;
		text-align: center;
		width: 44%;
		padding: 20px 40px;
		line-height: 1.5;
		@include media ('<1400px') {
			padding: 20px 10px;
		}
		@include media ('<desktop') {
			width: 100%;
		}
		@include media('<tablet') {
			font-size: 16px;
			padding: 40px;
		}
		@include media('<phone') {
			padding: 40px 10px;
		}
		p {
			@include media('<tablet') {
				margin: 0 0 20px;
			}
		}
	}
}

.map-section {
	color: $gray;
	background-color: $black-2;
	position: relative;
	&.map-show {
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 9999;
		@include media('<tablet') {
			position: fixed;
		}
		.mask-holder {
			opacity: 0;
			visibility: hidden;
		}
		.back-to-mask {
			opacity: 1;
			visibility: visible;
		}
		.map-col {
			height: 100vh;
		}
	}
	.mask-holder {
		display: none;
		opacity: 0;
		visibility: hidden;
		@include media('<tablet') {
			display: block;
			opacity: 1;
			visibility: visible;
			width: 100%;
			height: 100%;
			position: absolute;
			background: rgba($black, .4);
			z-index: 3;
			.content-holder {
				color: $white;
				text-align: center;
				display: flex;
				flex-direction: column;
				align-items: center;
				transform: translateY(60%);
				padding: 0 10px;
				h3 {
					text-transform: uppercase;
					font-size: 30px;
				}
				.span-content {
					font-size: 20px;
					line-height: 1.5;
					font-weight: 700;
					margin: 0 0 2em;
				}
				.go-to-map {
					font-size: 18px;
					font-weight: 700;
					padding: 20px 70px;
					color: $black;
					background: $white;
					border-radius: 8px;
					text-decoration: none;
					border: 2px solid $white;
					transition: color .3s ease-in-out, background .3s ease-in-out;
					&:hover {
						border-radius: 10px;
						background: $black;
						color: $white;
					}
				}
			}
		}
	}
	.back-to-mask {
		display: none;
		width: 48px;
		height: 48px;
		top: 15px;
		left: 15px;
		background-color: $white;
		border-radius: 50%;
		position: absolute;
		z-index: 2;
		box-shadow: 0 4px 12px 0 rgba($black, 0.5);
		&:before {
			content: "\e900";
			position: absolute;
			font-family: 'icomoon';
			top: 50%;
			left: 50%;
			color: $black;
			opacity: .5;
			transform: translate(-50%, -50%);
		}
		@include media('<tablet') {
			display: block;
			opacity: 0;
			visibility: visible;
		}
	}
}

.tab-row {
	display: flex;
	align-items: center;
	position: relative;
	@include media('<widescreen') {
		flex-wrap: wrap;
	}
}

.map-col {
	position: relative;
	min-height: 1024px;
	background-position: 50% 0;
	background-size: cover;
	background-repeat: no-repeat;
	width: 56%;
	padding: 50px 0 0 25px;
	display: flex;
	align-items: center;
	@include media('<widescreen') {
		width: 100%;
		padding: 20px;
		min-height: 667px;
	}
	h2 {
		display: flex;
		justify-content: center;
		position: absolute;
		text-align: center;
		text-transform: uppercase;
		top: 1em;
		right: 0;
		left: 0;
		@include media('<tablet') {
			display: none;
		}
	}
}

.hover-txt {
	width: 44%;
	padding: 20px;
	@include media('<widescreen') {
		width: 80%;
		margin: 0 auto;
	}
	@include media('<tablet') {
		padding: 0;
	}
}

.txt-col {
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	@include media('<tablet') {
		width: 100%;
		padding: 0;
	}
	.txt {
		margin: 0 0 30px;
		display: block;
		&.date {
			margin: 0 0 10px;
		}
	}
	.slide {
		img {
			height: auto;
			max-width: 100%;
		}
	}
	iframe {
		width: 100%;
		@include media('>1440px') {
			width: 560px;
		}
		@include media('<phone') {
			max-height: 265px;
		}
	}
}

.custom-map {
	position: absolute !important;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.dates-list,
.dates-group {
	@include media('height<500px') {
		top: 90px;
		position: absolute;
	}
	li {
		@include media('height<500px') {
			margin: 0 0 20px !important;
		}
		&:after {
			@include media('height<500px') {
				height: 20px !important;
			}
		}
	}
}

.dates-list,
.dates-group {
	@extend %listreset;
	color: $white;
	font-size: 30px;
	font-weight: 700;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	li {
		text-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		margin: 0 0 2.5em;
		@include media('<tablet') {
			color: $black-2;
			text-shadow: inherit;
			font-size: 16px;
		}
		&:after {
			content: '';
			top: 100%;
			left: 50%;
			transform: translate(-50%, 0);
			display: block;
			width: 15px;
			height: 80px;
			border-radius: 6px;
			box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
			background-color: $white;
			opacity: 0.8;
			position: absolute;
			@include media('<tablet') {
				width: 8px;
				height: 40px;
				box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
				border-radius: 6px;
				background-color: #191919;
				opacity: 0.4;
			}
		}
		&:last-child {
			margin: 0;
			&:after {
				display: none;
			}
		}
		a {
			color: $white;
			cursor: pointer;
			text-decoration: none;
			padding: 10px 0;
			z-index: 1;
			position: relative;
			@include media('<tablet') {
				color: $black-2;
				text-shadow: inherit;
				font-size: 16px;
			}
		}
		&.active {
			a {
				@include media('<tablet') {
					color: $white;
				}
				&:after {
					width: 80px;
					height: 80px;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%);
					content: '';
					background-color: $red;
					box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
					border-radius: 50%;
					z-index: -1;
					@include media('<tablet') {
						width: 48px;
						height: 48px;
					}
				}
			}
		}
	}
}

.audio-player {
	margin: 0 auto;
	max-width: 550px;
	@include media ('<1300px') {
		width: 85%;
	}
	@include media ('<phone') {
		width: 100%;
	}
	audio {
		display: none;
	}
	.play-btn {
		flex-shrink: 0;
		text-decoration: none;
		color: $white;
		font-size: 42px;
		margin: 0 10px 0 0;
		outline: none;
		&.is-play {
			&:before {
				content: "\e908";
			}
		}
	}
	.progress-bar {
		@extend %listreset;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		li {
			width: 12px;
			height: 40px;
			background: gray;
			border-radius: 10px;
			margin: 0 4px;
			transition: background 0.3s;
			@include media ('<1300px') {
				width: 5%;
			}
			&.sm {
				height: 16px;
			}
			&.md {
				height: 24px;
			}
			&.lg {
				height: 56px;
			}
			&.pass-progress {
				background: $white;
			}
		}
	}
	.timer {
		@extend %listreset;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.controls-wrap {
		display: flex;
		align-items: center;
		margin: 0 0 15px;
	}
}

.about-video-section {
	position: relative;
	width: 100%;
	background: #000;
}

.bg-video-holder {
	position: relative;
	overflow: hidden;
	background-size: cover;
}

.bg-video-holder .bg-video {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	transition: opacity .3s ease;
	pointer-events: none;
}

.video-active .bg-video {
	opacity: 1;
}

.custom-video-controls {
	width: 916px;
	margin: 0 auto;
	position: absolute;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
	text-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
	@include media ('<desktop') {
		width: 90%;
		bottom: 15px;
	}
	.progress-bar {
		@extend %listreset;
		position: relative;
		width: 100%;
		height: 4px;
		margin: 0 0 10px;
		background: $gray;
		.cur-progress,
		.loaded-progress {
			height: 100%;
			position: absolute;
		}
		.loaded-progress {
			background: $gray-2;
		}
		.cur-progress {
			background: $red;
			z-index: 2;
			&:before {
				content: '';
				top: -6px;
				right: -15px;
				width: 16px;
				height: 16px;
				position: absolute;
				border-radius: 50%;
				background: $red;
			}
		}
		.loaded-progress {
			z-index: 1;
		}
	}
}

.controls {
	display: flex;
	justify-content: space-between;
	a {
		color: $white;
		font-size: 24px;
		margin: 0 10px 0 0;
		text-decoration: none;
		transition: opacity .3s linear;
		@include media ('<desktop') {
			font-size: 16px;
		}
		&:hover {
			opacity: .7;
		}
		&.is-play {
			&:before {
				content: "\e908";
			}
		}
	}
	.box {
		color: $white;
		display: flex;
		align-items: center;
		.time {
			font-size: 18px;
			font-weight: 700;
			opacity: .8;
			@include media ('<desktop') {
				font-size: 12px;
			}
		}
	}
}

.control-box {
	.icon-volume {
		&.is-muted {
			&:before {
				content: "\e905"
			}
		}
	}
}

.tab-content {
	position: relative;
	overflow: hidden;
	transition: none !important;
	@include media('<tablet') {
		position: static;
		visibility: visible;
	}
	> .tab-holder {
		display: block;
		position: absolute;
		top: -9999px;
		left: -9999px;
		width: 100%;
		max-height: 100%;
		opacity: 0;
		visibility: hidden;
		@include media ('<tablet') {
			overflow: hidden;
			overflow-y: auto;
			position: absolute !important;
			top: 80px;
			padding: 20px 0;
			left: 0;
			bottom: 0;
			right: 0;
			background: $black-2;
			transform: translateY(100%);
		}
		&.active-tab {
			opacity: 1;
			visibility: visible;
			position: static;
			@include media ('<tablet') {
				z-index: 999;
				transform: translateY(0);
				transition: transform .8s;
				animation: active-tab .8s;
				@keyframes active-tab {
					0% {
						opacity: 0;
					}
					100% {
						opacity: 1;
					}
				}
			}
		}
		.transition {
			transition: height .5s ease;
		}
	}
	.slide-tabset {
		.tab {
			transform: translateY(-100%);
			transition: transform .5s ease;
			&.active {
				transform: translateY(0);
			}
		}
	}
}

.fade-tabset {
	.tab {
		line-height: 1.5;
		z-index: 2;
		opacity: 0;
		transition: opacity .5s ease;
		@include media ('<tablet') {
			font-size: 16px;
			padding: 0 10px;
		}
		&.active {
			opacity: 1;
			z-index: 2;
		}
		h3 {
			@include media ('<tablet') {
				font-size: 20px;
			}
		}
	}
}

.slick-dots {
	@extend %listreset;
	display: flex;
	align-items: center;
	padding: 10px 0;
	justify-content: center;
	margin: 0 0 50px;
	list-style: none;
	z-index: 2;
	li {
		padding: 0 10px;
		@include media ('<tablet') {
			padding: 0 4px;
		}
		button {
			text-indent: -9999px;
			height: 16px;
			width: 16px;
			border-radius: 50%;
			padding: 0;
			min-width: auto;
			transition: opacity $animation-speed;
			&:hover {
				opacity: .7;
			}
			@include media ('<tablet') {
				height: 12px;
				width: 12px;
			}
		}
	}
}

.tabset {
	ul {
		@extend %listreset;
		li {
			a {
				&.active {
					background: red;
				}
			}
		}
	}
}

.custom-bg-video {
	width: 100%;
	height: 100%;
	position: relative !important;
	margin: 0 0 -4px !important;
	@include media ('<tablet') {
		height: inherit;
	}
}

.show-video {
	.about-bg-image {
		display: none;
	}
}
.about-bg-image {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}