#footer {
	background: $black-2;
	color: $white;
	padding: 20px 0;
	a {
		color: $white;
		text-decoration: none;
		transition: opacity .3s ease-in-out;
		// &:hover {
		// 	color: $black-2;
		// }
	}
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include media ('<tablet') {
			// flex-wrap: wrap-reverse;
			flex-direction: column-reverse;
			justify-content: center;
		}
	}
	.footer-logo {
		@include media ('<tablet') {
			order: 1;
			margin: 0 0 20px;
		}
		a {
			display: inline-block;
		}
	}
	.copyright {
		font-weight: 700;
		// max-width: 200px;
		@include media ('<tablet') {
			max-width: 300px;
		}
		span {
			display: block;
		}
		a {
			&:hover {
				opacity: .6;
			}
		}
		.copyright-link {
			&:hover {
				opacity: .6 !important;
			}
		}
	}
}

.soc-list {
	@extend %listreset;
	display: flex;
	padding: 0 20px 0 0;
	font-size: 22px;
	@include media ('<tablet') {
		margin: 0 0 20px;
	}
	li {
		margin: 0 4px;
		a {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			width: 44px;
			height: 44px;
			border: 2px solid $white;
			border-radius: 50%;
			&:hover {
				background: $white;
				border: 2px solid $black-2;
				color: $black-2 !important;
			}
		}
	}
}
