#header {
	top: 0;
	left: 0;
	width: 100%;
	position: fixed;
	z-index: 1003;
	padding: 15px 0;
	background-color: rgba($black, .5);
	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.resize-active {
	* {
		transition: none !important;
	}
}

.nav-opener {
	display: block;
	width: 40px;
	height: 40px;
	position: relative;
	@include media ('>=tablet') {
		display: none;
	}
	.nav-active & {
		span {
			opacity: 0;
		}
		&:before,
		&:after {
			transform: rotate(45deg);
			top: 50%;
			left: 15%;
			right: 15%;
		}
		&:after {
			transform: rotate(-45deg);
		}
	}
	span,
	&:before,
	&:after {
		background: #fff;
		position: absolute;
		top: 50%;
		left: 16%;
		right: 16%;
		height: 3px;
		margin-top: -2px;
		transition: all .3s linear;
		.header-fixed & {
			background: $black;
		}
	}
	&:before,
	&:after {
		content:'';
		top:30%;
	}
	&:after {
		top:70%;
	}
}

.drop {
	@include media ('<tablet') {
		z-index: 1;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		opacity: 0;
		padding: 15px 0;
		visibility: hidden;
		transform: translate(100%, 0);
		background-color: rgba($black, .5);
		transition: {
			property: opacity, visibility, transform;
			duration: .3s;
			timing-function: linear;
		};
	}
	.nav-active & {
		@include media ('<tablet') {
			opacity: 1;
			visibility: visible;
			transform: translate(0, 0);
		}
	}
}

#nav {
	@extend %listreset;
	display: flex;
	text-transform: uppercase;
	font-weight: 700;
	@include media ('<tablet') {
		justify-content: center;
	}
	@include media ('<phone') {
		flex-direction: column;
		align-items: center;
	}
	li {
		padding: 0 0 0 45px;
		@include media ('<tablet') {
			padding: 0 15px;
		}
		@include media ('<phone') {
			margin: 0 0 15px;
		}
		a {
			color: $gray;
			text-decoration: none;
			transition: color .3s;
			&:hover {
				color: $gray-3;
			}
		}
	}
}